 <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Bernardo Salinas Jaquez</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#who-am-i">¿Quien soy?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#experience">Experiencia y Habilidades</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#education">Educación</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#courses">Cursos y Certificados</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#contact">Contacto</a>
          </li>
      </ul>
    </div>
</nav> 

<br><br><br>

<div class="myself">
    <img src="../assets/images/salinas_jaquez_bernardo.jpg">
    <br>
    <h5>Bernardo Salinas Jaquez</h5>
    <p>Ingeniero en Sistemas Computacionales</p>
    
    <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/in/bernardo-salinas-jaquez-822551122/" target="_blank">
        <span class="fa fa-linkedin"></span>
    </a>

    <a class="btn btn-social-icon btn-github" href="https://github.com/BernardoSJ" target="_blank">
        <span class="fa fa-github"></span>
    </a>
    
</div>

<div id="who-am-i" class="who-am-i">
    <h1>¿Quien soy?</h1>
    <p>
        Soy una persona muy adaptable para realizar las actividades que se le encomiendan capaz de trabajar en equipos o de forma independiente.
        Suelo aprender nuevas herramientas de forma rápida y de forma autodidacta.
        
        Actualmente tengo conocimientos en Ciencia de los Datos, Desarrollo web y Desarrollo de aplicaciones de escritorio.
        Cuento también con experiencia en esarrollo web y Desarrollo de aplicaciones de escritorio.
        Y tengo interes en el Desarrollo de aplicaciones Móviles y en el Desarrollo de Videojuegos.
    </p>
</div>

<div id="experience" class="experience">
    <h1>Experiencia y habilidades</h1>
    <div class="row">
        <div class="col-md-6 skills">
            <h2>HABILIDADES</h2>
            <ul>
                <li>Java 60%</li>
                <li>C++ 48%</li>
                <li>C# 25%</li>
                <li>Python 65%</li>
                <li>HTML 60%</li>
                <li>CSS 30%</li>
                <li>JavaScript 30%</li>
                <li>Node JS 20%</li>
                <li>API Rest 20%</li>
                <li>PHP 40%</li>
                <li>MySQL 40%</li>
                <li>MongoDB 30%</li>
                <li>GitHub 40%</li>

            </ul>
            <h2>LENGUAJES</h2>
            <ul>
                <li>Ingles B2</li>
                <li>Español Nativo</li>
            </ul>
            <h2>HABILIDADES BLANDAS</h2>
            <ul>
                <li>Trabajo en equipo</li>
                <li>Puntualidad</li>
                <li>Responsabilidad</li>
            </ul>
        </div>

        <div class="col-md-6 exp">
            <h2>EXPERIENCIA LABORAL</h2>
            <h3>RESIDENTE</h3>
            <p>AU DAM Industrial Forestal | Febrero 2021 - Junio 2021</p>
            <p>Desarrollo del Sitio Web para el Corporativo Milpillas es cual esta 
                compuesto por las empresas: AU DAM Industrial Forestal,
                Mueblería Milpillas, Refaccionaria Milpillas, Purificadora SUDAI</p>
            <ul>
                <li>Responsable de la creación de la base de datos.</li>
                <li>Realización de la comunicación entre la base de datos y la interfaz de usuario.</li>
                <li>Realicé la documentación técnica del sitio web</li>
            </ul>

            <br><br>
            <h3>PRESTADOR DE SERVICIO SOCIAL</h3>
            <p>Red Durango de Investigadores Educativos | Diciembre 2019 - Junio 2020</p>
            <p>Desarrollo de un sistema de administración el cual facilita la 
                realización de constancias de créditos complementarios del 
                Departamento de ciencias básicas del Instituto Tecnológico de 
                Durango</p>
            <ul>
                <li>Creación de la interfaz de usuario del sistema.</li>
                <li>Generación de validaciones para entrega de créditos complementarios.</li>
                <li>Generación de funcionalidad para la creación del documento digital de registros de los créditos complementarios.</li>
                <li>Realicé la documentación de usuario y técnica para el sistema.</li>
            </ul>
        </div>
    </div>
</div>

<div id="education" class="education">
    <h1>Educación</h1>
    <h2>INGENIERO EN SISTEMAS COMPUTACIONALES</h2>
    <p>Instituto Tecnológico de Durango | Especialidad: Ciencia de los Datos | Agosto 2016 - Julio 2021</p>

    <h2>TÉCNICO EN PROGRAMACIÓN</h2>
    <p>Centro de Bachillerato Tecnológico Industrial y de Servicios #130 | Especialidad: Programación | Agosto 2013 - Julio 2016</p>
</div>

<div id="courses" class="courses">
    <h1>Cursos y certicicaciones</h1>
    <div class="row">
        <div class="col-md-6 certifications">
            <h2>CERTIFICACIONES</h2>
            <ul>
                <li>EF SET English Certificate 59/100 (B2 Upper Intermediate)</li>
                <li>CCNA Routing and Switching : Introducción a Redes</li>
                <li>CCNA Routing and Switching: Principios básicos de routing y switching</li>
            </ul>
        </div>
        <div class="col-md-6 course">
            <h2>CURSOS</h2>
            <ul>
                <li>Universidad Desarrollo Web 2021 - FrontEnd Web Developer</li>
                <li>Python And Flask Demonstrations Practice Course</li>
                <li>Node, Express JS, Angular12 & and Mongo DB web app develompent</li>
                <li>Curso de Desarrollo Web con Angular 11+. ¡La biblia!</li>
                <li>JavaScript: Desde cero con NodeJS</li>
            </ul>
        </div>
        
    </div>
</div>

<div id="contact" class="contact">
    <div class="row">
        <div class="col-md-6">
            Contactame<br>
            Email:salinasbernardo56@gmail.com<br>
            Número de telefono:6182780471<br>
            Ubicación:Durango, Dgo, México<br>
            Dirección actual: Calle 3 505 Fracc. Los
            Fuentes 34170 Durango.
        </div>
        <div class="col-md-6">
            Nota<br>
            Todos mis certificados pueden ser visualizados solo por medio de mi <a href="https://www.linkedin.com/in/bernardo-salinas-jaquez-822551122/" target="_blank">Linkedin</a>
            o bien solicitarlos por medio del correo ofrecido.
        </div>
        
    </div>
    <br>
    Copyright © 2021 Creado por Bernardo Salinas Jaquez.
</div>

